{% extends 'base.html' %}
{%block title%}Add Course{% endblock%}
    

{%block css%}
    body {
        font-family: 'Arial', sans-serif;
        background-color:black;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    
    .container {
        background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        width: 350px;
        padding: 20px;
    }
    
    h2 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
    }
    
    .form-group {
        margin: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
        color: #555;
        font-weight: 600;
    }
    
    input[type="text"],
    input[type="file"] {
        width: 100%;
        height:30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #f7f7f7;
        transition: border-color 0.3s;
    }
    
    input[type="text"]:focus,
    input[type="file"]:focus {
        border-color: #007bff;
        outline: none;
    }
    
    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    input[type="submit"]:hover {
        background-color: #0056b3;
    }
    {% endblock%}
    {%block body%}
    <div class="container">
        <h2><a href="/"><i class="fa fa-arrow-circle-left" style="font-size:28px ;margin-right:30px"></i></a>Add New Course</h2>
        <form method="POST" action="add_course" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Course Name:</label>
               <input type="text" name="name" required><br>
            </div>
            <div class="form-group">
                <label for="code">Course Code:</label>
                <input type="text" name="code" required><br> 
            </div>
            <div class="form-group">
                <label for="text_file">Upload Text File Containing Roll No's of Student:</label>
                <input type="file" name="text_file" accept=".txt" required><br>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Course">
            </div>
        </form>
    </div>

    {% endblock%}