{% extends 'base.html' %}
    {% block css%}
    * {
        padding: 0;
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }


    body {
        background:black;
        font-family: sans-serif;
        margin-top: 40px;
        height: 100vh;
        padding: 0;
        margin: 0;
    }

    table {
        border: 1px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 86%;
        margin: auto;
    }

    td,
    th {
        border: 1px solid black !important;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .col{
        border-radius: 20px;
        background-color:rgb(211,211,211,0.5);
        margin:30px;
        margin-top:50px;
        min-height: 200px;
        display:flex;
        justify-content:center;
        align-items:center;
        
    }
    .col:hover{
        transform: scale(1.2);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        background:white;
    }
    .col a{
        text-decoration:none;
        color:black;
    }
{% endblock%}


  {% block title%}Attendance System{% endblock%}

{% block body%}
    <div class='mt-3 text-center'>
        <h1 style="width: auto;margin: auto;color: Blue;padding: 11px;font-size: 44px;">IIT Indore</h1>
        <h1 style="width: auto;margin: auto;color: white;padding: 11px;font-size: 33px;">Attendance System</h1>
    </div>


    <div class="row text-center" style="padding: 20px;margin: 20px;">

       <div class="col">
        <a href="/add_course_page"><h2>Add New Course</h2></a>
        </div>

        <div class="col">
         <a href="/add_student_page"><h2>Add New Student</h2></a>
        </div></a>

        <div class="col">
            <a><h2>Take Attendance</h2></a>
        </div></a>

        
        <div class="col">
            <a><h2>View Attendance</h2></a>
        </div>
        

    </div>

{% endblock%}